<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AfficheClient</servlet-name>
        <servlet-class>servelet.AfficheClientUSA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficheClientPays</servlet-name>
        <servlet-class>servelet.AfficheClientPays</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoixPays</servlet-name>
        <servlet-class>servelet.ChoixPays</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfficheClient</servlet-name>
        <url-pattern>/AfficheClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficheClientPays</servlet-name>
        <url-pattern>/AfficheClientPays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoixPays</servlet-name>
        <url-pattern>/ChoixPays</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
